---
cluster_name: $GB_CLUSTER_NAME
hdp_version: $GB_HDP_VERSION
custom_repo: $GB_CUSTOM_REPO
custom_repo_url: $GB_CUSTOM_REPO_URL
custom_repo_target: $GB_REPO_TARGET
ambari_version: $GB_AMBARI_VERSION
install_spark: $GB_INSTALL_SPARK
install_flume: $GB_INSTALL_FLUME
install_hbase: $GB_INSTALL_HBASE
install_storm: $GB_INSTALL_STORM
install_kafka: $GB_INSTALL_KAFKA
install_falcon: $GB_INSTALL_FALCON
install_ranger: $GB_INSTALL_RANGER
install_logsearch: $GB_INSTALL_LOGSEARCH
custom_ranger: $GB_CUSTOM_RANGER
custom_blueprint: $GB_CUSTOM_BLUEPRINT
admin_password: $GB_ADMIN_PASSWORD
services_password: $GB_SERVICES_PASSWORD

# set to true to show host variables
debug: $GB_DEBUG_ENABLED

ambari_repo_file: $GB_AMBARI_REPO_FILE
ambari_repo: $GB_AMBARI_REPO
